<html>
  <head>
    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <div id="app">
      <h2>{{ greeting }}</h2>
      <p v-if="team === 'Newbee'">by {{ pros }} who from in {{ team }}</p>
      <p v-if="team === 'Alliance'">by {{ pros }} who wishes win {{ team }}</p>
      <img v-bind:src="teamImage" />
      <button v-on:click="changeTeam">
        Change Team
      </button>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="./main.js"></script>
  </body>
</html>
